<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <settings>
        <add key="FailedRedirectLoginUrl" value="false" />
        <add key="DefaultRedirectUrl" value="~/Error/Forbidden" />
    </settings>
    <authorization>
        <areas allowRoles="助理总监,数据分析主管,区域运输经理" allowUsers="" verbs="*" >
            <!--根目录-->
            <area name=""  allowRoles="" allowUsers="">
                <controller name="Error"  allowRoles=""  allowUsers="?"/>
                <controller name="Home"  allowRoles="" allowUsers="*">
                    <action name="Index"  allowRoles="" allowUsers="*"/>
                </controller>
                <!--配送公司-->
                <controller name="ExpressCompany"  allowRoles="" allowUsers="*"/>
            </area>

            <!---基础信息维护-->
            <area name="BaseInfo" >
                <!--合同管理-->
                <controller name="Carrier"  allowRoles="运输采购主管,运输专员" />
                <!--线路维护-->
                <controller name="LinePlan"  allowRoles="运输规划主管,运输规划专员" />
                <!--线路审核-->
                <controller name="LinePlan"  allowRoles="运输规划主管,运输规划专员" />
            </area>

            <!---运输计划-->
            <area name="Transport" >
                <!--运输计划-->
                <controller name="Plan"  allowRoles="运输采购主管,运输专员,华北运输主管,运输主管,沈阳运输主管" />
            </area>

            <!---运输管理-->
            <area name="Delivery" allowRoles="运输规划主管,运输规划专员,华北运输主管,华北运输专员,沈阳运输主管,运输主管,运输专员" >
                <!--运输调度管理-->
                <controller name="Dispatch" />
                <!--发货现场管理-->
                <controller name="SiteAss" />
                <!--发货在途管理-->
                <controller name="InTransit" />
                <!--提货单打印-->
                <controller name="Print" />
            </area>

            <!---异常处理平台-->
            <area name="Claim" >
                <!--预计延迟交货申请 和 预计延迟交货申请处理-->
                <controller name="ExpectDelay" allowRoles="运输规划主管,运输规划专员,华北运输主管,华北运输专员,运输主管,沈阳运输主管,运输专员" >
                    <action name="ApplyList"/>
                    <action name="Details"/>
                    <action name="ApplyFor"/>
                    <action name="ApplyList"  allowRoles="运输规划主管,运输规划专员,华北运输主管,运输主管,沈阳运输主管"/>
                </controller>

                <!--到货延误复议申请  和 到货延误复议申请处理-->
                <controller name="DelayHandle"  allowRoles="运输规划主管,运输规划专员,华北运输主管,华北运输专员,运输主管,沈阳运输主管,运输专员">
                    <action name="DelayList"/>      
                    <action name="DelayHandleApply"/>      
                    <controller name="DelayHandleApplyList"  allowRoles="运输规划主管,运输规划专员,华北运输主管,运输主管,沈阳运输主管" />           
                    <controller name="DelayHandle"  allowRoles="运输规划主管,运输规划专员,华北运输主管,运输主管,沈阳运输主管" />        
                </controller>

                <!--丢失管理 和 丢失信息审核-->
                <controller name="Lost"  allowRoles="运输规划主管,运输规划专员,华北运输主管,华北运输专员,运输主管,沈阳运输主管,运输专员">     
                    <controller name="LostList" />
                    <controller name="CheckLostStatus" />
                    <controller name="LostBoxList" />
                    <controller name="LostApproveList"  allowRoles="运输规划主管,运输规划专员,华北运输主管,运输主管,沈阳运输主管" />
                    <controller name="Approve"  allowRoles="运输规划主管,运输规划专员,华北运输主管,运输主管,沈阳运输主管" />                
                </controller>
            </area>

        </areas>
    </authorization>
    <!--
    users：允许以逗号分隔的用户名列表对资源进行访问。问号 (?) 允许匿名用户；星号 (*) 允许所有用户。
    roles：允许以逗号分隔的角色列表对资源进行访问。不支持问号 (?) 和 星号 (*)。
    -->
</configuration>