/Shangpin.Ado.Net/obj

/*.suo/Shangpin.Ado.Net/bin
/Shangpin.Logistic.WebUI/obj
/Shangpin.Logistic.WebUI/bin
/Shangpin.Logistic.BLL/obj
/Shangpin.Logistic.BLLTests/obj
/Shangpin.Logistic.DAL/obj
/Shangpin.Logistic.IBLL/obj
/Shangpin.Logistic.IBLL/bin
/Shangpin.Logistic.Model/bin
/Shangpin.Logistic.Model/obj
/Shangpin.Logistic.Util/bin
/Shangpin.Logistic.Util/obj
/Shangpin.Logistic.WebUI.Tests/bin
/Shangpin.Logistic.WebUI.Tests/obj
/*.suo
/*.suo
/Shangpin.Ado.Net/bin
/Shangpin.Logistic.BLL/bin
/Shangpin.Logistic.BLLTests/bin
/Shangpin.Logistic.DAL/bin
/Shangpin.Logistic.Web.WebControls/bin
/Shangpin.Logistic.Web.WebControls/obj
/Shangpin.Logistic.WebUI/Properties/PublishProfiles/*.user
/Shangpin.Logistic.WebUI/Properties/PublishProfiles/*.pubxml
/packages
