<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <settings>
    <add key="FailedRedirectLoginUrl" value="false" />
    <add key="DefaultRedirectUrl" value="~/Error/Forbidden" />
  </settings>
  <authorization>
    <areas allowRoles="" allowUsers="*" verbs="*" >
      <area name=""  allowRoles="" allowUsers="">
        <controller name="Shared"  allowRoles="" allowUsers="?"/>
        <controller name="Error"  allowRoles=""  allowUsers="*"/>
        <controller name="Frame"  allowRoles="" allowUsers="*"/>
        <controller name="Manage"  allowRoles="" allowUsers="*"/>
        <controller name="Currency"  allowRoles="" allowUsers="*"/>
        <controller name="Home"  allowRoles="" allowUsers="*">
          <action name="Index"  allowRoles="" allowUsers="*"/>
        </controller>
      </area>
      
    </areas>
  </authorization>
  <!--
    users：允许以逗号分隔的用户名列表对资源进行访问。问号 (?) 允许匿名用户；星号 (*) 允许所有用户。
    roles：允许以逗号分隔的角色列表对资源进行访问。不支持问号 (?) 和 星号 (*)。
    -->
</configuration>