 

 body{ background:#fff;}
 .l-topmenu_wra{ clear:both; width:620px; height:40px; border:0px solid red; }
 .l-mainbody{width:99.2%; margin:0 auto; margin-top:3px;}
 .l-topmenu-welcome_select select{ width:180px;
  border: 1px solid #BFBFBF;
    color: #666666;
  height: 23px;
    line-height: 23px; }
 
/* 顶部 */ 
.l-topmenu{ margin:0; padding:0; height:86px;padding: 5px 0 0 20px;border-bottom: 4px solid #8695AB;   line-height:24px; background:#fff;  position:relative;}
 
.l-topmenu-logo{float: left; width:242px;height:54px; border: 0px solid blue;color:#070A0C;  padding-left:30px; background:url('../images/index/topicon.gif') no-repeat 0px 4px; }
.l-topmenu-welcome{clear:both;   position:absolute; height:24px; right:30px; top:15px;color:#070A0C;}
.l-topmenu-welcome a{ color:#070A0C; text-decoration:underline}
.l-topmenu-username{ color:#070A0C; font-weight:bold;} 
.l-topmenu-welcome_select{position:absolute;width: 200px; border:0px solid green; height:24px; right:10px; top:50px;}

 .l-topmenu_bot{ width:100%; height:10px;background:#ffffff url('../images/index/tit_repet_bj.gif') repeat-x center top; display:block;}
/*顶部菜单样式*/
.topMenuDiv { width:100%;height:30px; line-height:30px; bottom:-4px;*bottom:-6px; position:absolute;}
.topMenuDiv .topMenuUL { width:100%;height:30px; line-height:30px;margin-left: 0; padding-left: 0; display: inline;}
.topMenuUL li{ height:23px; line-height:23px; padding: 3px 10px;font-size:12px;cursor:pointer;list-style: none; text-align:center; background:url('../images/index/nav_meunrt.gif') repeat-x 0 0; color:#ffffff; margin-left:5px; 
    -webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft:4px;
	-moz-border-radius-topright:4px;
    border-top-left-radius:4px;
	border-top-right-radius:4px;display:inline; 
	 
}
.topMenuUL li.over{ background:url('../images/index/nav_meunrt.gif') repeat-x 0 -23px;border-bottom:1px solid #8695ab; color:#ffffff;}
.topMenuUL .checkedTop{ background:url('../images/index/nav_meunrt.gif') repeat-x 0 -23px;border-bottom:1px solid #8695ab; color:#ffffff;}
 


/* 菜单列表 */
.menulist{  text-align:left; color:#000;}

.menulist .displayblock{ display:block;}
.menulist li span{  line-height:32px; padding-left:24px; display:block; position:relative; cursor:pointer; text-align:left; background:url('/Content/images/addimg/sidebar_meun.gif') repeat-x 0px 0px; border-bottom:1px solid #FFF; overflow:hidden;}
.menulist li span img{ position:absolute; top:6px; width:12px; height:20px; border:none;}
.menulist li span.over{ background:url('/Content/images/addimg/sidebar_meun.gif') repeat-x 0px -32px; font-weight:bold; color:#fff;  overflow:hidden;}
.menulist li span.checkedLeft{ background:url('/Content/images/addimg/sidebar_meun.gif') repeat-x 0px -32px; font-weight:bold; color:#fff;  overflow:hidden;}

.close{ display:none;}
.open { display:block;}

.menulist li.over .menuitem-l{background:url('../images/index/menuitem.gif') repeat-x 0px -24px; width:2px; height:24px; position:absolute; left:0; top:0;}
.menulist li.over .menuitem-r{background:url('../images/index/menuitem.gif') repeat-x -1px -24px; width:2px; height:24px; position:absolute; right:0; top:0;}
