@model Shangpin.Logistic.Model.TestModel
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //Layout = "~/Views/Shared/_Layout_SearchList.cshtml";
}

<h2>Test</h2>
<div>
    @Model.RoleName
</div>
<div>
    @Model.RoleNo
</div>
