body
{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Microsoft YaHei' , 'Tahoma' , '宋体';
}
a
{
    color: #000000;
    text-decoration: none;
}
a:link
{
    color: #000000;
    text-decoration: none;
}
.header
{
    width: 100%;
    height: 60px;
    background-color: #4474BB;
    border-bottom: 1px solid #000000;
    white-space: nowrap;
}
.headerTitle
{
    margin-left: 15px;
    font-size: 24px;
    font-weight: bold;
    color: #FFFFFF;
    width: 350px;
}
.headerUser
{
    background-color: #FFFFFF;
    width: 300px;
    height: 21px;
    padding-top: 2px;
    text-align: center;
    float: right;
}
.headerUserName
{
    color: green;
}
.TopLine
{
    height: 3px;
    border-bottom: solid 1px #B3764D;
    overflow:hidden;
}
.LeftNavi
{
    padding-top: 3px;
    height: 100%;
}
.LeftLine
{
    border-right: solid 1px #B3764D;
    padding-right: 1px;
}
.row
{
    background-color: #FFFFFF;
    cursor: pointer;
}
.SwitchButton
{
    background-color: #F5F5F5;
    border: 1px solid #FFCC99;
    width: 5px;
}
#SystemList
{
    padding: 5px;
    list-style-type: none;
    margin: 0px;
    line-height: 30px;
    width: 280px;
    border: solid 1px gray;
    background-color: White;
    position: absolute;
    display: none;
    cursor: default;
    border-top: none;
}
#SystemList li
{
    float: left;
    width: 135px;
    padding-left: 5px;
}
#SystemList li a:hover
{
    color: #D54D2B;
    font-weight: bolder;
}

#SystemSwitchButton
{
    padding: 1px;
    width: 50px;
    border: solid 1px gray;
    border-bottom: none;
}
.SysButtonPos
{
    padding-top: 5px;
    padding-left: 20px;
}
