<form class="l-form liger-form">
    <div class="l-form-container">
        <div class="l-group l-group-hasicon" style="width: 1081.1px;">
            <img src="../../../lib/ligerUI/skins/icons/communication.gif">
            <span>
                基础信息
            </span>
            <div class="togglebtn">
            </div>
        </div>
        <ul style="display: block;">
            <li class="l-fieldcontainer l-fieldcontainer-first" fieldindex="1">
                <ul>
                    <li style="width:90px;text-align:left;">
                        产品名称：
                    </li>
                    <li id="Form1000|1" style="width:170px;text-align:left;">
                        <div class="l-text" style="width: 168px;">
                            <input type="text" id="1402138679792" name="ProductName" validate="{&quot;required&quot;:true,&quot;minlength&quot;:3}"
                                   class="l-text-field" ligeruiid="ProductName" style="width: 164px;">
                            <div class="l-text-l">
                            </div>
                            <div class="l-text-r">
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                        <span class="l-star">
                            *
                        </span>
                    </li>
                </ul>
            </li>
            <li class="l-fieldcontainer" fieldindex="2">
                <ul>
                    <li style="width:90px;text-align:left;">
                        供应商：
                    </li>
                    <li id="Form1000|2" style="width:170px;text-align:left;">
                        <div class="l-text-wrapper">
                            <div class="l-text l-text-combobox" style="width: 168px;">
                                <input type="text" id="1402138679797" name="CompanyName" readonly="" class="l-text-field"
                                       ligeruiid="CompanyName" style="width: 148px;">
                                <div class="l-text-l">
                                </div>
                                <div class="l-text-r">
                                </div>
                                <div class="l-trigger">
                                    <div class="l-trigger-icon">
                                    </div>
                                </div>
                                <div class="l-trigger l-trigger-cancel" style="display: none;">
                                    <div class="l-trigger-icon">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="SupplierID" id="SupplierID" data-ligerid="CompanyName"
                                   value="">
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
        </ul>
        <ul style="display: block;">
            <li class="l-fieldcontainer l-fieldcontainer-first" fieldindex="3">
                <ul>
                    <li style="width:90px;text-align:left;">
                        类别 ：
                    </li>
                    <li id="Form1000|3" style="width:170px;text-align:left;">
                        <div class="l-text-wrapper">
                            <div class="l-text l-text-combobox" style="width: 168px;">
                                <input type="text" id="1402138679808" name="CategoryName" readonly=""
                                       class="l-text-field" ligeruiid="CategoryName" style="width: 148px;">
                                <div class="l-text-l">
                                </div>
                                <div class="l-text-r">
                                </div>
                                <div class="l-trigger">
                                    <div class="l-trigger-icon">
                                    </div>
                                </div>
                                <div class="l-trigger l-trigger-cancel" style="display: none;">
                                    <div class="l-trigger-icon">
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" name="CategoryID" id="CategoryID" data-ligerid="CategoryName"
                                   value="">
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
        </ul>
        <ul style="display: block;">
            <li class="l-fieldcontainer l-fieldcontainer-first" fieldindex="4">
                <ul>
                    <li style="width:90px;text-align:left;">
                        日期 ：
                    </li>
                    <li id="Form1000|4" style="width:170px;text-align:left;">
                        <div class="l-text-wrapper" style="width: 168px;">
                            <div class="l-text l-text-date" style="width: 168px;">
                                <input type="text" id="1402138679817" name="AddTime" class="l-text-field"
                                       ligeruiid="AddTime" style="width: 148px;">
                                <div class="l-text-l">
                                </div>
                                <div class="l-text-r">
                                </div>
                                <div class="l-trigger">
                                    <div class="l-trigger-icon">
                                    </div>
                                </div>
                                <div class="l-trigger l-trigger-cancel" style="display: none;">
                                    <div class="l-trigger-icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
            <li class="l-fieldcontainer" fieldindex="5">
                <ul>
                    <li style="width:90px;text-align:left;">
                        折扣：
                    </li>
                    <li id="Form1000|5" style="width:170px;text-align:left;">
                        <div class="l-text" style="width: 168px;">
                            <input type="text" id="1402138679848" name="QuantityPerUnit" class="l-text-field l-text-field-number"
                                   ligeruiid="QuantityPerUnit" style="width: 164px;">
                            <div class="l-text-l">
                            </div>
                            <div class="l-text-r">
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
        </ul>
        <ul style="display: block;">
            <li class="l-fieldcontainer l-fieldcontainer-first" fieldindex="6">
                <ul>
                    <li style="width:90px;text-align:left;">
                        单价：
                    </li>
                    <li id="Form1000|6" style="width:170px;text-align:left;">
                        <div class="l-text" style="width: 168px;">
                            <input type="text" id="1402138679850" name="UnitPrice" class="l-text-field l-text-field-number"
                                   ligeruiid="UnitPrice" style="width: 164px;">
                            <div class="l-text-l">
                            </div>
                            <div class="l-text-r">
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
        </ul>
        <div class="l-group l-group-hasicon" style="width: 1081.1px;">
            <img src="../../../lib/ligerUI/skins/icons/communication.gif">
            <span>
                库存
            </span>
            <div class="togglebtn">
            </div>
        </div>
        <ul>
            <li class="l-fieldcontainer l-fieldcontainer-first" fieldindex="7">
                <ul>
                    <li style="width:90px;text-align:left;">
                        库存量：
                    </li>
                    <li id="Form1000|7" style="width:170px;text-align:left;">
                        <div class="l-text" style="width: 168px;">
                            <input type="text" id="1402138679852" name="UnitsInStock" class="l-text-field l-text-field-number"
                                   ligeruiid="UnitsInStock" style="width: 164px;">
                            <div class="l-text-l">
                            </div>
                            <div class="l-text-r">
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
            <li class="l-fieldcontainer" fieldindex="8">
                <ul>
                    <li style="width:90px;text-align:left;">
                        订购量：
                    </li>
                    <li id="Form1000|8" style="width:170px;text-align:left;">
                        <div class="l-text" style="width: 168px;">
                            <input type="text" id="1402138679854" name="UnitsOnOrder" class="l-text-field l-text-field-number"
                                   ligeruiid="UnitsOnOrder" style="width: 164px;">
                            <div class="l-text-l">
                            </div>
                            <div class="l-text-r">
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li class="l-fieldcontainer l-fieldcontainer-first" fieldindex="9">
                <ul>
                    <li style="width:90px;text-align:left;">
                        备注：
                    </li>
                    <li id="Form1000|9" style="width:470px;text-align:left;">
                        <div class="l-text" style="width: 468px;">
                            <input type="text" id="1402138679856" name="Remark" class="l-text-field"
                                   ligeruiid="Remark" style="width: 464px;">
                            <div class="l-text-l">
                            </div>
                            <div class="l-text-r">
                            </div>
                        </div>
                    </li>
                    <li style="width:40px;">
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</form>