<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core"/>
    </sectionGroup>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
      <resource uri="assembly://Shangpin.Logistic.BLL/Shangpin.Logistic.BLL/AppContext.xml"/>
      <resource uri="assembly://Shangpin.Logistic.DAL/Shangpin.Logistic.DAL/AppContext.xml"/>
    </context>
    <objects xmlns="http://www.springframework.net">

    </objects>
  </spring>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4net">
        <!--<arg key="configType" value="INLINE"/>-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/Log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
</configuration>